body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

/* make sure focused element is distinguishable */
*:focus {
    outline: 2px solid #cc0000 !important;
    outline-offset: -2px;
}

body {
    max-width: 100% !important;
}

.w3-main {
    margin-left: 300px;
}

.font-black {
    color: #000000 !important;
}

#banner {
    max-width: 70%;
}
.ptab {
    border-radius: 0;
}
.pcard {
    padding-bottom: 16px;
}
.pcard:last-of-type {
    margin-bottom: 0 !important;
}

.repo-button {
    margin-left: 8px;
}

.w3-code {
    border-left: 4px solid #2196F3;
}
.code1{margin-left: 2em;}
.code2{margin-left: 4em;}
.code3{margin-left: 6em;}
.code4{margin-left: 8em;}

@media only screen and (max-width: 600px) {
    .w3-main {
        margin-top: 83px;
    }
    #banner {
        max-width: 100%;
    }
    .repo-button {
        margin-left: 0;
        margin-top: 8px;
    }
}

@media only screen and (max-width: 992px) {
    .w3-main {
        margin-top: 83px;
    }
}